[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "2.7"

[packages]
discord.py = "==0.16.12"
python-dotenv = "*"
requests = "*"

[dev-packages]

[scripts]
bot = "python main.py"
